{{!-- HandlebarsApplicationMixin requires each part to render exactly one root element. --}}
<div class="role-config-body">
  <section class="roles-section">
    <h3 class="section-title">{{localize "CYH.RoleConfig.Roles"}}</h3>
    {{#if roles.length}}
    <ul class="role-list">
      {{#each roles}}
      <li class="role-row" data-role-id="{{this.id}}">
        <button type="button" class="thumb-button" data-action="pickImage" data-tooltip="CYH.RoleConfig.PickImage"
                aria-label="{{localize 'CYH.RoleConfig.PickImage'}}">
          <img class="thumb" src="{{this.img}}" alt="">
          <span class="thumb-overlay"><i class="fa-solid fa-image"></i></span>
        </button>
        <div class="fields">
          <input type="text" class="role-name-input" name="roles.{{this.id}}.name" value="{{this.name}}"
                 maxlength="{{@root.nameMax}}" placeholder="{{localize 'CYH.Role.FIELDS.name.label'}}">
          <textarea class="role-desc" name="roles.{{this.id}}.description" rows="2" maxlength="{{@root.descMax}}"
                    placeholder="{{localize 'CYH.Role.FIELDS.description.label'}}">{{this.description}}</textarea>
        </div>
        <button type="button" class="remove" data-action="removeRole" data-tooltip="CYH.RoleConfig.Remove"
                aria-label="{{localize 'CYH.RoleConfig.Remove'}}">
          <i class="fa-solid fa-trash"></i>
        </button>
      </li>
      {{/each}}
    </ul>
    {{else}}
    <p class="empty">{{localize "CYH.RoleConfig.NoRoles"}}</p>
    {{/if}}
    <div class="role-actions">
      <button type="button" class="add-role" data-action="addRole">
        <i class="fa-solid fa-plus"></i> {{localize "CYH.RoleConfig.Add"}}
      </button>
      <button type="button" class="reset-roles" data-action="resetDefaults">
        <i class="fa-solid fa-rotate-left"></i> {{localize "CYH.RoleConfig.Reset"}}
      </button>
    </div>
  </section>

  <section class="recommend-section">
    <h3 class="section-title">{{localize "CYH.RoleConfig.Recommended"}}</h3>
    <p class="hint">{{localize "CYH.RoleConfig.RecommendedHint"}}</p>
    {{#if roles.length}}
    <div class="role-toggles">
      {{#each roles}}
      <button type="button" class="role-toggle{{#if this.recommended}} active{{/if}}" data-action="toggleRecommended"
              data-role-id="{{this.id}}"{{#if this.description}} data-tooltip="{{this.description}}"{{/if}}>
        <i class="fa-solid {{#if this.recommended}}fa-square-check{{else}}fa-square{{/if}} check"></i>
        {{#if this.img}}<img src="{{this.img}}" alt="">{{/if}}
        <span class="role-name">{{this.name}}</span>
      </button>
      {{/each}}
    </div>
    {{else}}
    <p class="empty">{{localize "CYH.RoleConfig.NoRolesRecommend"}}</p>
    {{/if}}
  </section>
</div>
