{{!-- HandlebarsApplicationMixin requires each part to render exactly one root element. --}}
<div class="editor-body">
  <header class="editor-header">
    {{#if role.img}}<img class="thumb" src="{{role.img}}" alt="{{role.name}}">{{/if}}
  </header>

  {{formGroup fields.name value=role.name name="name" localize=true}}
  {{formGroup fields.img value=role.img name="img" localize=true}}

  <div class="form-group">
    <label>{{localize "CYH.Role.FIELDS.description.label"}}</label>
    <div class="form-fields">
      <textarea name="description" rows="3">{{role.description}}</textarea>
    </div>
    <p class="hint">{{localize "CYH.Role.FIELDS.description.hint"}}</p>
  </div>

  <footer class="form-footer">
    <button type="submit">
      <i class="fa-solid fa-floppy-disk"></i> {{localize "CYH.RoleEditor.Save"}}
    </button>
  </footer>
</div>
